.tips {
    &__container {
    }

    &__title {
    }

    &__block-slider {
        position: relative;
        padding: 0 25px;
    }

    &__body {
        padding: 20px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__slide {
    }

    &__dotts {
        margin: 10px;
        display: flex;
        justify-content: center;
    }
    .slider-arrow__prev,
    .slider-arrow__next {
        background-color: #fff;
        box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
        &:hover {
            background-color: $orangeColor;
        }
    }
    .swiper-slide-active {
        .slide-tips__body {
            background: #ffffff;
            box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
        }
    }
}

.slide-tips {
    &__img {
        img {
            width: 100%;
        }
    }

    &__body {
        padding: 20px 10px;
        transition: all 800ms ease 0s;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        color: #3a3a3a;
        margin: 0 0 8px 0;
    }

    &__text {
        font-size: 14px;
        line-height: 150%;
        color: #898989;
        // margin-bottom: 20px;
    }
}
.swiper-slide {
}
.slider-tips {
    &__arrows {
    }
}

.tips .slider-arrrows {
    position: absolute;
    top: 40%;
    // width: calc(100% +40px);
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: space-between;
    &:last-child {
    }
}
